#padding1{
    padding-top: 20px;
}
#color{
    color:#144d94;
}
.font-subtitle{
    color: black;
    font-size: 15px;
    padding: 0%;
}
.font-subtitle1{
    color: black;
    font-size: 17px;
    text-align: left;
    
}
.font-title{
    color: black;
    font-size: 22px;
    padding: 0%;
}
/*background-image: url(https://cdn.discordapp.com/attachments/707292830158159885/987505625787400222/Slide41.jpg);*/
// .grid {
//     display: grid;
//     grid-gap: 10px;
//     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
// }

#padding2{
    padding-right: 800px;
}

ion-item{
    color: #144d94;
    --background: transparent;
}
#card-title{
    text-align: right;
}
#back-button{
    --background: transparent;
    background-color: none;
    backface-visibility: unset;
    border-radius: 0;
}

#color1{
    color: rgb(0, 0, 0);
}


#color_icon{
    color: black;
}

ion-card{
    height: 28%;
    max-width: 100%;
    
    overflow: hidden;
    background-size: cover;
    background-position: center center;
  }

ion-item{
    padding: 0%;
}
