
<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss_modal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Bloco</ion-title>
  </ion-toolbar>


      <ion-accordion-group>
        <ion-accordion value="bloco1" toggle-icon="arrow-down-circle">
          
          <ion-item slot="header">
            <ion-label id="font-header-accord">Bloco Minha pika</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="dismiss_modal()">
                <ion-icon name="caret-forward-sharp"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          
          <ion-list slot="content">
            <ion-item>
              <ion-text>Minha pika é muito grande e majestosa, a vida pode ser dura mas a minha apika é mais</ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
          <ion-item slot="header">
            <ion-label id="font-header-accord">Bloco Meu ovo</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="dismiss_modal()">
                <ion-icon name="caret-forward-sharp"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
                    
          <ion-list slot="content">
            <ion-item>
              <ion-text>Minha pika é muito grande e majestosa, a vida pode ser dura mas a minha apika é mais</ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

   
</ion-content>
