
<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss_modal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Enviar bloco</ion-title>
  </ion-toolbar>


      <ion-accordion-group>
        <ion-accordion value="bloco1" toggle-icon="arrow-down-circle" *ngFor="let bloco of blocos_atuais['prof_blocos']">
          
          <ion-item slot="header">
            <ion-label id="font-header-accord">{{bloco.nome}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="dismiss_modal()">
                <ion-icon name="caret-forward-sharp"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          
          <ion-list slot="content">
            <ion-item>
              <ion-text>{{bloco.descricao}}</ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>


   
</ion-content>
