<ion-header>
  <ion-toolbar>
    <ion-title>bloco de perguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-card class="grid">
    <ion-card-header> 

      <ion-card-title class="font-title">gewgw</ion-card-title>
      <ion-card-title class="font-subtitle">Turno</ion-card-title>

    </ion-card-header>
  </ion-card>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
  <ion-fab-button color="black" id="trigger-button">
    <ion-icon md="add" ios="chevron-back-circle-outline" id="color"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>





