#padding1{
    padding-top: 20px;
}
#color{
    color:#144d94;
}
.end{
    text-align: center;
}

#back-button{
    --background: transparent;
    background-color: none;
    backface-visibility: unset;
    border-radius: 0;   
}
#card-title{
    text-align: right;
    color: black;
}
#color1{
    color: black;
}
ion-card{
    --background:url(https://cdn.discordapp.com/attachments/707292830158159885/988558511921328148/unknown11.png);  
}
#color_icon{
    color: black;
}