<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-card class="grid" *ngFor="let bloco of blocos_atuais['prof_blocos']">
    <ion-card-header> 
      <ion-label id="color5">{{bloco.data}}</ion-label>

      <ion-card-title class="font-title" id="color1">{{bloco.nome}}</ion-card-title>
      <ion-card-title id="card-title">

      <ion-card-title id="card-title">

          <ion-button id="back-button">
            <ion-icon name="ellipsis-vertical-sharp" id="color_icon"></ion-icon>
          </ion-button>
          
          <ion-popover trigger="back-button" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item button (click)="show_modal_perguntas()">Perguntas</ion-item>
                  <ion-item>Deletar</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          
      </ion-card-title>  

      </ion-card-title>  
      <ion-card-subtitle class="font-subtitle" id="color1">{{bloco.descricao}}</ion-card-subtitle>

    </ion-card-header>
  </ion-card>

<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
  <ion-fab-button color="black" (click)="show_modal()">
    <ion-icon md="add" ios="chevron-back-circle-outline" id="color"></ion-icon>
  </ion-fab-button>
</ion-fab>





</ion-content>





