<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss_modal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Bloco</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit_modal()" [disabled]="new_class_FormGroup.invalid">
        <ion-icon name="checkmark-outline" aria-setsize="100px"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


      <ion-accordion-group>
        <ion-accordion value="bloco1" toggle-icon="arrow-down-circle">
          
          <ion-item slot="header">
            <ion-label id="font-header-accord">Pergunta minha pika</ion-label>
            <ion-checkbox color="tertiary"></ion-checkbox>
          </ion-item>
          
          <ion-list slot="content">
            <ion-item>
              <ion-text>Minha pika é muito grande e majestosa, a vida pode ser dura mas a minha apika é mais</ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="arrow-down-circle">
          <ion-item slot="header">
            <ion-label id="font-header-accord">Pergunta meu ovo</ion-label>
            <ion-checkbox color="tertiary"></ion-checkbox>
          </ion-item>
                    
          <ion-list slot="content">
            <ion-item>
              <ion-text>Minha pika é muito grande e majestosa, a vida pode ser dura mas a minha apika é mais</ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

   
</ion-content>
